<!-- Language Switcher Dropdown -->
<div class="tooltip-wrapper">
  <ul class="tooltip-container">
    <li class="nav-link">
      <div class="tooltip-tab">
        <img src="images/flagUS.svg" alt="Language Flag" class="lang-flag" id="current-lang-flag" />
        <span id="current-lang-text">EN</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          height="16"
          width="16"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19 9l-7 7-7-7"
          />
        </svg>
      </div>
      <div class="tooltip">
        <ul class="tooltip-menu-with-icon">
          <li class="tooltip-link" data-lang="en">
            <a href="#" class="tooltip-links">
              <img src="images/flagUS.svg" alt="USA Flag" class="lang-flag" />
              <span>English</span>
            </a>
          </li>
          <li class="tooltip-link" data-lang="es">
            <a href="#" class="tooltip-links">
              <img src="images/flagES.svg" alt="Spain Flag" class="lang-flag" />
              <span>Español</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>