
.nav-link {
  position: relative;
}
.tooltip-wrapper > .tooltip-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tooltip-container,
.tooltip-menu-with-icon {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-link > .tooltip-tab {
  color: var(--nav-link-color);
  letter-spacing: 1px;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  column-gap: 8px;
  justify-content: space-between;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.nav-link > .tooltip-tab:hover svg {
  transform: rotate(180deg);
  transition: 0.3s ease-in-out;
}
.tooltip-links {
  text-decoration: none;
}
.nav-link svg {
  fill: var(--nav-link-color);
  stroke: var(--nav-link-color);
}
.tooltip {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  padding: 15px 0px 0px 0px;
}
.tooltip::after {
  content: "";
  width: 15px;
  height: 15px;
  background: #00c1d5;
  top: 0px;
  left: 15%;
  position: absolute;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(360deg);
  z-index: -1;
  box-shadow: 0px 6px 30px rgb(2 22 36);
}
.tooltip .tooltip-menu-with-icon {
  padding: 10px 0px;
  background-color: var(--card-bg);
  border: 1px solid #00c1d5;
  position: relative;
}
.tooltip-link {
  position: relative;
}
.tooltip-link:not(:last-child) {
  border-bottom: 1px solid var(--input-border-color);
}
.tooltip-link > a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
  background-color: var(--card-bg);
  color: var(--text-color);
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  transition: 0.3s;
}
.lang-flag {
    width: 24px;
    height: auto;
    border-radius: 3px;
}

.nav-link:hover > .tooltip {
  transform: translate(0, 0);
  opacity: 1;
  pointer-events: auto;
}
